:root {
    --cube-translation: 20vh;
    --cube-translation-hover: 30vh;
    --width-scene: 40vh;
    --transition-hover: 1s;
}
  @media (max-width: 768px) { 
    :root {
        --cube-translation: 20vw; /*vh changed to vw*/
        --cube-translation-hover: 30vw;
        --width-scene: 40vw;
        
      }
   }

body{
    margin: 0;
    background-image: linear-gradient(to right top, #99aebb, #8aa9bc, #79a5bd, #67a0bd, #519cbe, #4793b5, #3c8bab, #3182a2, #35748e, #37657a, #375867, #354a54);
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#scena
{
    width: var(--width-scene);
    height: var(--width-scene);
    perspective: 1000px;

}
#kostka
{
    position: absolute;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;    
    animation: obracaniekostki 30s ease-in-out infinite alternate;
    
}
.sciana
{
    opacity: 0.95;
    position: absolute;
    width: 100%;
    height: auto;
}
.responsive {
    width: 100%;
    height: auto;
}
/* .responsive:hover{
    transform: translateZ(20px);
} */
div.front{ 
    transform: translateZ(var(--cube-translation));
    transition: var(--transition-hover);
}
div.front:hover{
    transform: translateZ(var(--cube-translation-hover));
    transition: var(--transition-hover);
    cursor: pointer;
}

div.back{
    transform: rotateY(180deg) translateZ(var(--cube-translation));
    transition: var(--transition-hover);
}
div.back:hover{
    transform: rotateY(180deg) translateZ(var(--cube-translation-hover));
    transition: var(--transition-hover);
    cursor: pointer;
}

div.left{
    transform: rotateY(-90deg) translateZ(var(--cube-translation));
    transition: var(--transition-hover);
}
div.left:hover{
    transform: rotateY(-90deg) translateZ(var(--cube-translation-hover));
    transition: var(--transition-hover);
    cursor: pointer;
}

div.right{
    transform: rotateY(90deg) translateZ(var(--cube-translation));
    transition: var(--transition-hover);
}
div.right:hover{
    transform: rotateY(90deg) translateZ(var(--cube-translation-hover));
    transition: var(--transition-hover);
    cursor: pointer;
}

div.top{
    transform: rotateX(90deg) translateZ(var(--cube-translation));
    transition: var(--transition-hover);
}
div.top:hover{
    transform: rotateX(90deg) translateZ(var(--cube-translation-hover));
    transition: var(--transition-hover);
    cursor: pointer;
}

div.bottom{
    transform: rotateX(-90deg) translateZ(var(--cube-translation));
    transition: var(--transition-hover);
}
div.bottom:hover{
    transform: rotateX(-90deg) translateZ(var(--cube-translation-hover));
    transition: var(--transition-hover);
    cursor: pointer;
}

@keyframes obracaniekostki
{
    from
    {
    }
    to
    {
        transform: rotateY(720deg) rotateX(180deg) rotateZ(180deg);
    }
}

/*Modal Window*/
  
  /* -------------------------- */
  /* CLASSES TO MAKE MODAL WORK */
  
  
  .modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
    padding: 4rem;
    z-index: 10;   
  }
  .hidden {
    display: none;
  }
  .close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    background: none;
  }
  iframe {
    position: relative;
    width: 1280px;
    height: 720px;
    
  }
  .overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.459);
    backdrop-filter: blur(3px);
    z-index: 5;
  }

  @media screen and (max-width: 1500px) {
    iframe {
        width: 870px;
        height: 470px;       
      }
      .modal{
        width: 870px;
        padding: 4rem;
      }
  }

  @media screen and (max-width: 1000px) {
    iframe {
        width: 560px;
        height: 315px;   
      }
      .modal{
        width: 560px;
        padding: 4rem;
      }
  }
  @media screen and (max-width: 700px) {
    iframe {
        width: 427px;
        height: 240px;   
      }
      .modal{
        width: 427px;
        padding: 4rem;
      }
  }

  @media screen and (max-width: 576px) {
    iframe {
        width: 300px;
        height: 170px;   
      }
      .modal{
        width: 300px;
        padding: 0;
      }
      .close-modal{
        font-size: 1.5rem;
        top: -1.3rem;
        right: -1.3rem;
      }
  }
  @media screen and (max-width: 320px){
      body{
          display: none;
      }
  }
